{% extends "index.html" %}
{% block title %}Edit User{% endblock %}

{% block content%}
<p class="h1 ms-5 mt-4">Edit User Info</p>
<form method="POST" class="ms-5 mt-3 col-sm-4">
  <div>Current first name: {{user.first_name}}</div>
  <label for="first_name_input" class="form-label">New first name:</label>
  <input type="text" id="first_name_input" class="form-control mb-4" name="first_name">
  <div>Current last name: {{user.last_name}}</div>
  <label for="last_name_input" class="form-label">New last name:</label>
  <input type="text" id="last_name_input" class="form-control mb-4" name="last_name">
  <div>
    Current profile picture:
    <img src="{{user.image_url}}" class="img-thumbnail ms-5" style="max-width: 25%;">
  </div>
  <label for="url_input" class="form-label">New picture URL:</label>
  <input type="url" id="url_input" class="form-control mb-4" name="url">
  <button class="btn btn-primary mt-2">Submit</button>
  <a href="/users/{{user.id}}" class="btn btn-danger mt-2">Cancel</a>
</form>
{% endblock %}