{% extends "index.html" %}
{% block title %}Edit User{% endblock %}

{% block content%}
<div class="column">
  <h1 class="title-heading">Edit User Info</h1>
  <form method="POST" class="fit-form column">
    <div class="form-item-right">
      <div class="title-section">Current first name: {{user.first_name}}</div>
      <label for="first_name_input">New first name:</label>
      <input type="text" id="first_name_input" name="first_name">
    </div>
    <div class="form-item-right">
      <div class="title-section">Current last name: {{user.last_name}}</div>
      <label for="last_name_input">New last name:</label>
      <input type="text" id="last_name_input" name="last_name">
    </div>
    <div class="form-item-right">
      <div class="title-section">Current profile picture:</div>
      <img src="{{user.image_url}}" class="profile-picture centered">
      <label for="url_input">New picture URL:</label>
      <input type="url" id="url_input" name="url">
    </div>
    <div>
      <button class="button-blue">Submit</button>
      <a href="/users/{{user.id}}" class="button button-red">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}