{% extends "index.html" %}
{% block title %}Add User{% endblock %}

{% block content%}
<p class="h1 ms-5 mt-4">Add New User</p>
<form action="/users/new" method="POST" class="ms-5 mt-3 col-sm-4">
  <label for="first_name_input" class="form-label">First name:</label>
  <input type="text" id="first_name_input" class="form-control mb-4" name="first_name" required>
  <label for="last_name_input" class="form-label">Last name:</label>
  <input type="text" id="last_name_input" class="form-control mb-4" name="last_name">
  <label for="url_input" class="form-label">Profile picture URL:</label>
  <input type="url" id="url_input" class="form-control mb-4" name="url">
  <button class="btn btn-primary mt-2">Submit</button>
  <a href="/users" class="btn btn-danger mt-2">Cancel</a>
</form>
{% endblock %}