{% extends "index.html" %}
{% block title %}Post Details{% endblock %}
{% block content%}
<div class="column">
  <h1>{{post.title}}</h1>
  <div class="block-text">{{post.content}}</div>
  <div><i>by {{post.user.fullname}} on {{post.created_at}}</i></div>
  <div>
    <b>Tags: </b>
    {% for tag in post.tags %}
    <span class="tag"><a href="/tags/{{tag.id}}">{{tag.name}}</a></span>
    {% endfor %}
  </div>
  <form>
    <button type="submit" class="button-blue" formaction="/posts/{{post.id}}/edit" formmethod="get">
      Edit
    </button>
    <button type="submit" class="button-red" formaction="/posts/{{post.id}}/delete" formmethod="post">
      Delete
    </button>
  </form>
  <a href="/users/{{post.user_id}}" class="button button-blue">Return To User</a>
</div>
{% endblock %}