{% extends "index.html" %}
{% block title %}Tags{% endblock %}
{% block content%}
<div class="column width-30">
  <div class="padded-container">
    <h1 class="title-heading">Tags</h1>
    <ul class="fit-list margin1-top-bot">
      {% for tag in tags %}
      <li>
        <a href="/tags/{{tag.id}}">{{tag.name}}</a>
      </li>
      {% endfor %}
    </ul>
    <a href="/tags/new" class="button button-green">Add Tag</a>
    <a href="/" class="button button-light-blue">Return Home</a>
  </div>
</div>
{% endblock %}